{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
    {% if request.user.is_authenticated %}
        {% if request.user.first_name or request.user.last_name %}
            {{ request.user.first_name }} {{ request.user.last_name }}
        {% else %}
            {% if user.is_staff %}

                <nav>
                    <ul>
                        <li><h4><a href="/superuser/">SuperUser</a></h4></li>
                        <li><h4><a href="/admin/">Admin</a></h4></li>
                        <li><h4><a href="/examenes/elegirExamen/">Realizar Examen</a></h4></li>
                        <li><h4><a href="/estadisticas/">Ver Estadisticas</a></h4></li>
                    <ul>
                </nav>
                <article >
                    <h2>Bienvenido Admin</h2>
                    <div id="user-tools">
                    {% if list_reported %}
                        <div class="alert alert-info">
                        <strong>Notificación!</strong> Hay {{list_reported.count}} preguntas reportadas.
                        <a href="/questions/reported/" role="button">ver!</a>
                        </div>
                    {% endif %}
                    </div>
                    <p><a href="/accounts/logout/" class="pull-right">Logout</a>
                </article>      

            {% else %}
                <nav>
                  <ul>
                    <li><h4><a href="/examenes/elegirExamen/">Realizar Examen</a></h4></li>
                    <li><h4><a href="/estadisticas/">Ver Estadisticas</a></h4></li>
                  </ul>
                </nav>
                <article >
                    <h3><p class="text-primary">{{ request.user.username }} has loged in </p></h3>
                    <a href="/accounts/logout/" class="pull-right">Logout</a>
                </article>
            {% endif %}
        {% endif %}
    {% else %}
    <meta http-equiv="refresh" content="2;url=/accounts/login/" />
    <h3>No esta logueado, debe loguearse primero</h3>
    {% endif %}
</body>
{% endblock content %}
