<!DOCTYPE html>
{%load static%}
<html>
    <head>
<lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<header>
    <h1>ADMIN</h1>
</header>
</head>
<body>
<center>

    <div id="branding">
        <h3><a href="/questions/reported/">Revisión de preguntas reportadas</a>
        <h3><a href="/questions/agregarPreg/">Agregar una pregunta</a>
        {% if preguntas %}
            <h3><a href="/questions/buscar/">Modificar una pregunta</a>
        {% endif %}
        <h3><a href="/questions/uploadquestion/">Cargar preguntas</a>
        <h3><a href="/materias/cargart/">Cargar temas</a>
        <h3><a href="/materias/cargarm/">Cargar materias</a>
    </div>
    <a href="/accounts/profile/">Volver</a>&emsp;&emsp;<a href="/accounts/logout/">Logout</a>
</center>
<footer><h2>JEEV</h2></footer>
</body>
</html>
