{% extends 'examenes/base.html' %}
{% load static %}
{% block content %}
<body>
    <center>
        <h4>Estadisticas generales de {{materia}}: </h4>
        <h5>Promedio: {{promedio}}</h5>
        <h5>Cantidad de examenes respondidos: {{lista_examenes.count}}</h5>
        <h5>Cantidad de preguntas respondidas: {{cant_preguntas.cantidad_preg__sum}}</h5>
        <h5>Cantidad de preguntas correctas: {{preg_correctas.preguntas_correctas__sum}}</h5>
        <h5>Cantidad de preguntas incorrectas: {{preg_incorrectas.preguntas_incorrectas__sum}}</h5>
        <h5>Grafico: <a href="{% url 'grafico' materia %}">Ver grafico</a> </h5>
        <h4>Listado de exámenes realizados: </h4>
        {% for examen in lista_examenes %}
            <br><a href="{% url 'estadis_examen' examen.id %}">Examen: {{examen.id}}</a>
        {% endfor %}
        <br><a href="{%url 'estadisticas' %}">Volver</a>
    </center>
</body>
{% endblock content%}