<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

        <title>Examen</title>
    </head>
    <body>
        <header>
            <h4>Examen</h4>
        </header>
        <center>
            <h2>Se cargo el examen</h2><br>
            {%if tema_v %}
                <h3>Warning: no exsiten preguntas de los temas: </h3>
                {% for tema in temas_v%}
                    {{tema}}<br>
                {% endfor%}

            {% endif %}
            <h3>El examen comenzara en 2 segundos</h3>
            <meta http-equiv="refresh" content="2;url={% url 'respPregErrores' examenE.id temaActual%}" />
        </center>
        <footer>JEEV</footer>
    </body>
</html>