<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        >
    </head>
    <body>
        <header>
            <h1>Configuracion de examenes</h1>
        </header
        <h3><a href="/questions/questions/reported">Seleccionar tema</a></h3>
        <h3><a href="#">Seleccionar cantidad de preguntas</a></h3>
        <h3><a href="#">Seleccionar tiempo entre preguntas</a></h3>
        <h3><a href="#">Seleccionar algoritmo de seleccion de preguntas</a></h3>
        <li><h3><a href="/accounts/profile/">Volver a perfil de examen</a></h3></li>
        <footer><h2>JEEV</h2></footer>
    </body>
</html>
