<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

        <title>{{examen}}</title>
    </head>
    <body>
        <header>
            <h4>Examen</h4>
        </header>
        <center>
            <p>{{ tiempo }}hola</p>
            {{ preguntas.delete.first }}
            {% for pregunta in preguntas %}
                <h4>{{pregunta}}</h4>
                {% for respuesta in pregunta.answer_set.all %}
                    <input type="radio" name="gender" value="{{respuesta.text_resp}}" checked> {{respuesta.text_resp}}<br>
                {% endfor %}
                <!--<form action="#" name="cd" id="cd"><input id="txt"  type="text" value={{tiempo}} name="disp"></form>-->
            {% endfor %}
        </center>
        <footer>JEEV</footer>
    </body>
</html>
