    <!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <header>
        </header>
        <center>
            <h2>Por el momento no existen preguntas cargadas, por favor vuelva a intentarlo más tarde.</h2>
            <br><a href="/accounts/profile/">Volver</a>
        </center>
        <footer><h3>JEEV</h3></footer>
    </body>
</html>