
{% extends 'examenes/base.html' %}
{% load static %}
{% block content %}
    <body>
        <center>
            <form action="{% url 'respuesta' examen.id %}" method="post">
                {% csrf_token %}
                <h3>{{pregunta}}</h3>
                {% for respuesta in pregunta.answer_set.all %}
                    <br><input type="radio" name="respuesta" value="{{respuesta.id}}">{{respuesta.text_resp}}
                {% endfor %}
                <br><input type = "submit" value= "Responder">
            </form>
        </center>
    </body>
{% endblock content%}
