{% extends 'examenes/base.html' %}
{% load static %}
{% block content %}
    <body>
        <center>
            <form action="{% url 'respuesta' examen.id %}" method="post">
                {% csrf_token %}
                <h3>{{pregunta}}</h3>
                {% for respuesta in pregunta.answer_set.all %}
                    <br><input type="radio" name="respuesta" value="{{respuesta.id}}">{{respuesta.text_resp}}
                {% endfor %}
                <br><input type = "submit" value= "Responder">
            </form>
            <br><br>
            <a href="{% url 'nota_reportada' examen.id pregunta.id%}">Reportar</a>
            <meta http-equiv="refresh" content="{{examen.tiempo_preg}};url={% url 'respuesta' examen.id %}" />
        </center>
    </body>
{% endblock content%}
