<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

        <title>Examen </title>
    </head>
    <body>
        <header>
            <h1>Choice Master</h1>
        </header>
        <center>
        <h4>No ha ingresado datos, por favor vuelva a intentar</h4>
        <br><a href="/examenes/examen">Volver</a>
        <footer><h3>JEEV</h3></footer>
        </center>
    </body>
</html>