<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <center>
        <header>
            <h1>ADMIN</h1>
        </header>
        <h4>Ingrese el nombre del nuevo tema</h4>
        <form action="" method="post">
            {% csrf_token %}
                <select name="materias">
                {% for nombre_materia in list_materias %}
                <option value="{{ nombre_materia }}" name="materia">{{ nombre_materia }}</option>
                {% endfor %}
                </select>
            <input type="text" name="nuevo_tema" size="30">
            <input type="submit" value="Cargar">
        </form>
        </br></br>
        <a href="/hompage/superuser/">Volver</a>
        </center>
    </body>
</html>
