<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <header>
            <h1>ADMIN</h1>
        </header>
        <center><h4>El tema que quiere cargar ya existe o no ingresó nada, por favor vuelva a intentarlo.</h4>
		</br></br>
		<a href="/materias/cargart/">Volver</a>
		</center>
	</body>
</html>