<!DOCTYPE html>
{%load static%}
<html>
<head>
    <lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("opcion").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Opcion " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "opcion" + i;
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
    </script>
    <header>
        <h1>ADMIN</h1>
    </header>
</head>
<body>
<center>
    <h3>Crear Pregunta</h3>
    <form action="" method="post">
        {% csrf_token %}
        <br>Materia: <input type="text" name="materia">
        <br><br>Tema: <input type="text" name="tema">
        <br><br>Título de la pregunta: <input type="text" name="titulo">
        <br><br>Cantidad de opciones:
            <input type="number" id="opcion" name="opcion" value="" min=1>
            <a href="#" id="filldetails" onclick="addFields()">seleccionar</a>
            <br><br><div id="container"></div>
        <br><br><input type="submit" value="Guardar">
    </form>
    <br><a href="/superuser/">Volver</a>
</center>
</body>
</html>