<!DOCTYPE html>
{%load static%}
<html>
<head>
    <lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <header>
        <h1>ADMIN</h1>
    </header>
</head>
<body>
<center>
    <h3>Pregunta reportada: "{{question.text_preg}}"</h3>
    <ol>
        <h4>Respuestas:</h4>
        {% for answer in answers %}
            <li>{{ answer.text_resp }}
            {% if answer.es_correcta %}
                <a href="{% url 'update' question.id answer.id %}" >Modificar</a>
                <la style="color:green">Es la correcta </la></li>
            {% else %}
                <a href="{% url 'update' question.id answer.id %}">Modificar</a>
            {% endif %}
            </br></br>
        {% endfor %}
        <h4>Nota de reporte: {{question.nota_reporte}}</h4>
        <br><a href="{% url 'sacar' question.id %}">Sacar pregunta de la lista de reportadas</a>
        &emsp;<a href="{% url 'delete' question.id %}" >Eliminar</a>
        &emsp;<a href="/hompage/superuser/" >Volver</a>
    </ol>
</center>
</body>
</html>