<!DOCTYPE html>
{%load static%}
<html>
<head>
<lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<header>
    <h1>ADMIN</h1>
</header>
</head>
<body>
<center>
    <h4 style="color: red">Error al cargar la pregunta!</h4>
    <h4>La pregunta "{{titulo}}" ya existe</h4>
    <a href="/questions/agregarPreg/" >Volver</a>
</center>
</body>
</html>