<!DOCTYPE html>
{%load static%}
<html>
<head>
<lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<header>
    <h1>ADMIN</h1>
</header>
</head>
<body>
<center>
    <h4>Las preguntas no repetidas fueron cargadas con exito.</h4>
    <h4>Las preguntas que no se cargaron por estar repetidas son: </h4>
    {% for pregunta in preguntas%}
        {{pregunta}}<br><br>
    {% endfor %}
    <h4>Las preguntas que se cargaron pero podrian ser similares son: </h4>
    {% for pregunta in preguntas_similares%}
        {{pregunta}}<br><br>
    {% endfor %}
    <a href="/homepage/superuser/" >Volver</a>
</center>
</body>
</html>                            