<!DOCTYPE html>
{%load static%}
<html>
<head>
<lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<header>
    <h1>ADMIN</h1>
</header>
</head>
<body>
<center>
    <h4>EL tema "{{tema}}" en la materia "{{materia}}" no existe, creelo antes de modificar la pregunta.</h4>
    <a href="{%url 'modificar' q.id%}" >Volver</a>
</center>
</body>
</html>