<!DOCTYPE html>
{%load static%}
<html>
<head>
<lnk rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<header>
    <h1>ADMIN</h1>
</header>
</head>
<body>
<center>
    <h4>Ingrese el archivo en donde contenga las preguntas que desea cargar</h4>
    <ul>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <br><input type="radio" name="tipo" value="YAML" checked> Subir con YAML
        <br><input type="radio" name="tipo" value="XML"> Subir con XML<br>
        <input type="submit" value="Subir preguntas">
    </form>
    </ul>
    <a href="/hompage/superuser/" >Volver</a>
</center>
</body>
</html>